<h1>Listing of Invoices</h1>

<table>
	<tr>
		<th>Invoice Number</th>
		<th>Company Name</th>
		<th>Manager</th>
		<th>Date Generated</th>
		<th>Paid</th>
		<th>Amount Due</th>
		<th>Terms</th>
		<th>Account Manager</th>
	</tr>

	<% @invoices.each do |invoice| %>
		<tr>
			<td><%= invoice.invoicenumber %></td>
			<td><%= invoice.companyname %></td>
			<td><%= invoice.manager %></td>
			<td><%= invoice.dategenerated %></td>
			<td><%= invoice.paid %></td>
			<td><%= invoice.amountdue %></td>
			<td><%= invoice.terms %></td>
			<td><%= invoice.accountmanager %></td>
			<td><%= link_to 'Show', invoice_path(invoice) %></td>
		</tr>
	<% end %>
</table>
 
