<h1>New Invoice</h1>

<%= form_with scope: :invoice, url: invoices_path, local: true do |form| %>
	<p>
		<%= form.label :invoicenumber %><br>
		<%= form.text_field :invoicenumber %>
	</p>

	<p>
		<%= form.label :companyname %><br>
		<%= form.text_field :companyname %>
	</p>

	<p>
		<%= form.label :manager %><br>
		<%= form.text_field :manager %>
	</p>

	<p>
		<%= form.label :dategenerated %><br>
		<%= form.date_field :dategenerated %>
	</p>

	<p>
		<%= form.label :paid %><br>
		<%= form.text_field :paid %>
	</p>

	<p>
		<%= form.label :amountdue %><br>
		<%= form.number_field :amountdue %>
	</p>

	<p>
		<%= form.label :terms %><br>
		<%= form.text_area :terms %>
	</p>

	<p>
		<%= form.label :accountmanager %><br>
		<%= form.text_field :accountmanager %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>