<h1>Invoice Detail</h1>

	<p>
		<strong>Invoice Number</strong>
		<%= @invoice.invoicenumber %>
	</p>

	<p>
		<strong>Company Name</strong>
		<%= @invoice.companyname %>
	</p>

	<p>
		<strong>Manager</strong>
		<%= @invoice.manager %>
	</p>

	<p>
		<strong>Date Generated</strong>
		<%= @invoice.dategenerated %>
	</p>

	<p>
		<strong>Paid</strong>
		<%= @invoice.paid %>
	</p>

	<p>
		<strong>Amount Due</strong>
		<%= @invoice.amountdue %>
	</p>

	<p>
		<strong>Terms</strong>
		<%= @invoice.terms %>
	</p>

	<p>
		<strong>Account Manager</strong>
		<%= @invoice.accountmanager %>
	</p>